<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <!--Dynamically calls variable called title referenced in the razor of all Views pages to determine title per page -->
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="https://www.shutterstock.com/shutterstock/photos/1147101026/display_1500/stock-vector-outstanding-professional-elegant-trendy-awesome-artistic-black-and-white-color-tj-jt-initial-based-1147101026.jpg" />"" /> <!--icon for tab-->
    <link href="lib/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="lib/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <!--bootstrap to create header-->
        <div class="container">
            <a class="navbar-brand" href="#page-top">Movie Collection</a>
            <a asp-controller="subFolder" asp-action="Index">Home</a>
            <a asp-controller="subFolder" asp-action="podcast">My Podcasts</a>
            <a asp-controller="subFolder" asp-action="movieEntry">Movie Database</a>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <script src="lib/bootstrap/js/scripts.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
</body>

</html>
