@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}
<link href="~/lib/bootstrap/css/styles.css" rel="stylesheet" />

<br />
<br />
<br />
<br />

@model movieEntry;
<h1>My Podcasts</h1>
<a href="https://baconsale.com/">Baconsale Podcast Website</a>

<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
